body {
  font-family: 'Press Start 2P', cursive;
  background-color: #e7faff;
  padding: 20px;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.status-section,
.meal-section {
  margin-top: 20px;
}

.nes-field,
.status-section,
.meal-section {
  margin-bottom: 20px;
}
